* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}


ul {
    list-style: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Small */
@media(min-width: 767px) {
    
}

/*medium*/
@media(min-width:992px) {
    
}

/* larg */
@media(min-width:1200px) {

}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Start Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 194, 64);
    padding: 0 20px;
}
header .logo {
    color: brown;
    font-weight: bold;
}
header .lang {
    padding: 20px;
    font-weight: bold;
}
header div {
    display: flex;
}
header .watch-list {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
}
header .watch-list:hover svg {
    transform: scale(.8);
}
header .watch-list svg {
    width: 25px;
    transition: .3s;
}
/* Start Message Section */
.message {
    margin: 20px 40px;
    background-color: #eee;
    border-radius: 6px;
    border: 1px solid #bbb;
    padding: 40px;
}
.message h1,
.message p {
    margin-bottom: 20px;
}
.message form {
    display: flex;
    gap: 20px;
}
.message form input[type=text] {
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    flex: 1;
}
.message form input[type=text]::placeholder {
    color: #bbb;
}
.message form input[type=submit] {
    border: none;
    padding: 10px 25px;
    background-color: rgb(246, 194, 64);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}
.message form input[type=submit]:hover {
    color: black;
    transform: scale(1.1);
}
/* Start Popoular Section */
.popular {
    padding: 20px;
}
.popular h1 {
    margin: 40px 0;
}
.popular .content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 20px;
}
.box {
    cursor: pointer;
}
.box .image {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.box .image > svg{
    width: 35px;
    position: absolute;
    top: 10px;
    right: 5px;
    fill: white;
    cursor: pointer;
}
.box .image img {
    max-width: 100%;
}
.box .progress-container {
    position: absolute;
    bottom: -23px;
    left: -21px;
}
.box .progress-container span {
    color: white;
    position: absolute;
    top: 41%;
    left: 33px;
    font-size: 14px;
}
.box h3 {
    font-size: 20px;
}
.box .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box .date span {
    color: #bbb;
    font-size: 14px;
}
.box .date svg {
    width: 20px;
}
/* pages */
.pages {
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.pages li a{
    padding: 20px 25px;
    color: black;
    border-radius: 6px;
}
.pages li a.selected {
    background-color: coral;
}
/* Start Movie Details */
.movie-details .content {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
.movie-details > h1 {
    margin: 40px 0 20px 0;
}
.movie-details .movie {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.movie .image {
    flex: 1;
}
.movie .info {
    flex: 2;
}
.movie-details .movie .image {
    max-width: 500px;
    border-radius: 6px;
    overflow: hidden;
}
.movie-details .movie .image img {
    max-width: 100%;
}
.movie .info .title {
    display: flex;
    justify-content: space-between;
}
.movie-details .movie .info .date {
    color: #bbb;
    font-size: 14px;
    margin: 10px 0;
}
.movie-details .movie .info svg {
    width: 25px;
}
.movie .info .rate {
    background-color: cornsilk;
    border-radius: 6px;
    padding: 10px;
    width: fit-content;
    border: 1px solid brown;
    margin-bottom: 30px;
}
.movie-details .content .box .image {
    width: 150px;
}
.movie-details .content .box h3 {
    font-size: 18px;
    max-width: 100%;
    overflow: hidden;
}
.movie .info .time {
    display: flex;
    gap: 60px;
    margin-top: 40px;
}
.movie .time .bold {
    font-weight: bold;
    margin-right: 20px;
}

.movie .website {
    display: inline-block;
    border: 3px solid rgb(118, 118, 38);
    padding: 5px 10px;
    border-radius: 16px;
    color: black;
    margin-top: 40px;
}